@charset "utf-8";

@import "~bulma/bulma";

/* Core variables */
@import "base/vars";

/* CSS Reset */
@import "base/reset";

/* Fonts */
@import "base/fonts";

/* Mixins, helpers and functions */
@import "base/mixins";



html {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  background: $background;
}

$elevation: 1;

// This creates the classes for each elevation dp with numbers from 1 to 24
@for $elevation from 1 through 24 {
  .elevation-#{$elevation} {
    @include shadow($elevation);
  }
}
.main {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 10rem;
  flex-flow: column;
}

// Not important to the mixin just here for the showcase of each elevation
ul {
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  li {
    width: 160px;
    height: 160px;
    line-height: 160px;
    text-align: center;
    margin: 40px;
    background-color: #fafafa;
  }
}
